@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #0f7afc;
}

table {
    border: 1px solid black;
    border-radius: 10px;
}

td {
    padding: 10px;
}

.about {
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    padding-left: 30%;
    padding-right: 30%;
}

.title {
    font-family: 'Noto Sans', sans-serif;
    padding-top: 2em;
    font-size: 5em;
    color: white;
}

.project {
    border-radius: 100px;
}

#stars { 
    background:#477ab9;
    width:100%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    }
    #stars:hover { 
    background:#3D689C;
    }

main {
    position: relative;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 5;
    align-items: center; /** Y-axis align **/
    justify-content: center; /** X-axis align **/
}

canvas {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
}